.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-card {
  min-width: 200px;
  max-width: 350px;
}

.form-field {
  width: 100%;
}

.button-login {
  width: 50%;
}

.ribbon {
  background-color: #f44336;
  position: absolute;
  top: 0;
  right: 0;
  color: #FFFFFF;
  font-weight: bold;
  padding: 2px 5px;
  font-size: 0.7em;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
