.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-card {
  min-width: 200px;
  max-width: 350px;
}

.form-field {
  width: 100%;
}

.button-login {
  width: 50%;
}
