@import '~@angular/material/theming';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

@include mat-core();

// light theme
$primary: mat-palette($mat-light-blue, 800);
$accent: mat-palette($mat-pink, A400);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

// dark theme
$dark-primary: mat-palette($mat-grey, 900);
$dark-accent: mat-palette($mat-orange, A400);
$dark-warn: mat-palette($mat-red);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.obsidian-dark {
  //color: #EFBE25; //TODO: needed?
  @include angular-material-theme($dark-theme);
}

.color-accent-light {
  color: mat-color($accent);
}

.color-accent-dark {
  color: mat-color($dark-accent);
}

/* Custom font */
$obsidian-typography: mat-typography-config($font-family: '"Inter", sans-serif;');
@include mat-core($obsidian-typography);

/*
// Our dark theme
.dark-theme {
  color: $light-primary-text;
  $dark-primary: mat-palette($mat-yellow);
  $dark-accent: mat-palette($mat-amber, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}
 */
