@import '~@angular/material/theming';

@include mat-core();

// light theme
$primary: mat-palette($mat-light-blue, 800);
$accent: mat-palette($mat-pink, A400);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

// dark theme
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent: mat-palette($mat-orange, A200, A100, A400);
$dark-warn: mat-palette($mat-red);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.obsidian-dark {
  @include angular-material-theme($dark-theme);
}

.color-accent-light {
  color: mat-color($accent);
}

.color-accent-dark {
  color: mat-color($dark-accent);
}

/*
// Our dark theme
.dark-theme {
  color: $light-primary-text;
  $dark-primary: mat-palette($mat-yellow);
  $dark-accent: mat-palette($mat-amber, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}
 */
