:host ::ng-deep .progress-spinner circle {
  stroke: #888888;
}

.padding-right {
  padding-right: 16px;
}

.spinner-margin {
  height: 24px;
  margin: -2px -2px;
}

.check-color {
  color: #888888;
}
