.fill-height {
  height: 100%;
}

.flat-card {
  border: 1px solid #c2c3c4;
  border-radius: 6px;
  padding: 15px;
  background-color: white;
}

.position-logout {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}
