.fill-height {
  height: 100%;
}

.width-65 {
  width: 65%;
  min-width: 350px;
}

.flat-card {
  border: 1px solid #c2c3c4;
  border-radius: 6px;
  padding: 15px;
  background-color: white;
}

.position-end {
  display: flex;
  justify-content: flex-end;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.padding-top {
  padding-top: 16px;
}

.padding-bottom {
  padding-bottom: 16px;
}

.margin-top {
  margin-top: 16px;
}

.margin-top-25 {
  margin-top: 25px;
}

.margin-bottom {
  margin-bottom: 16px;
}
