<div [ngClass]="{'obsidian-dark': isDarkTheme$ | async}">
  <div class="mat-app-background"> <!-- sets background according to theme -->

    <app-nav-bar></app-nav-bar>

    <div fxLayout="row" fxLayoutAlign="space-around center" style="height: 80%;">
      <app-login fxLayout="column" fxLayoutAlign="space-between" style="height: 600px;"></app-login>

  <!--    <div class="vertical-divider"></div>-->
      <mat-icon style="color: #888888">double_arrow</mat-icon>

      <app-jwt-visualizer class="fill-space-horizontal" fxLayout="column"></app-jwt-visualizer>
    </div>

    <hr>

    <router-outlet></router-outlet>

  </div>
</div>
