<div [ngClass]="{'obsidian-dark': isDarkTheme$ | async}">
  <div class="mat-app-background"> <!-- sets background according to theme -->

    <app-nav-bar></app-nav-bar>

    <mat-sidenav-container [hasBackdrop]="true">
      <mat-sidenav mode="over" [(opened)]="opened" position="end" (closedStart)="onCloseSideNav()">
        <app-settings></app-settings>
      </mat-sidenav>

      <mat-sidenav-content>
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <app-flows-list fxLayout="column" fxLayoutAlign="space-around" class="column-height login-width"></app-flows-list>

          <!--    <div class="vertical-divider"></div>-->
          <mat-icon style="color: #888888">double_arrow</mat-icon>

          <app-visualizer class="fill-space-horizontal column-height" fxLayout="column"></app-visualizer>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>

    <app-error-message></app-error-message>

    <hr><pre>router-outlet:</pre><router-outlet></router-outlet>

  </div>
</div>
