.mat-app-background {
  height: 100vh;
}

.vertical-divider {
  border-right: 1px dashed #24292e;
  height: 300px;
}

.fill-space-horizontal {
  width: 50%;
  //height: 100%;
  height: calc(100% - 100px);
}

.column-height {
  min-height: 80vh;
}

mat-sidenav {
  min-width: 350px;
  padding: 15px;
}

mat-drawer-container {
  height: 80%;
}

main {
  height: 100%;
  overflow-y: auto;
}

.login-width {
  min-width: 25%;
}
