.mat-app-background {
  //height: 100vh;
  background-color: #888888;
}

.vertical-divider {
  border-right: 1px dashed #24292e;
  height: 300px;
}

.fill-space-horizontal {
  width: 50%;
  //height: 100%;
  height: calc(100% - 100px);
}

.column-height {
  //min-height: 80vh;
  min-height: 600px;
}

.width-75-percent {
  width: 75%;
  max-width: 1000px;
  margin: auto;
}

.sticky-navbar {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100% !important;
}

.sidenav-container {
  margin: auto;
  margin-top: 64px !important;
  flex: 1;
  //width: 75%;
}

mat-sidenav {
  min-width: 350px;
  padding: 15px;
}

mat-drawer-container {
  height: 80%;
}

main {
  height: 100%;
  overflow-y: auto;
}

.login-width {
  min-width: 275px;
}

.resource-width {
  min-width: 275px;
}

.arrow {
  color: #888888;
  padding: 0 24px;
}
