<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>OAuth Test Client</span>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button color="" type="button" aria-label="Example icon-button with a heart icon"
            (click)="onClickSettings()">
      <mat-icon>settings</mat-icon>
    </button>
    <!--      <h3 class="subheading-2">for demo purposes only!</h3>-->
  </mat-toolbar-row>
</mat-toolbar>

<ng-container *ngIf="showSettings">
  <mat-toolbar>
    <span>Settings</span>
    <span class="fill-remaining-space"></span>
    <mat-slide-toggle [checked]="isDarkTheme" (change)="toggleDarkTheme($event.checked)">Dark theme</mat-slide-toggle>
  </mat-toolbar>

  <mat-toolbar>
    <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
      <mat-slide-toggle disabled>Save credentials</mat-slide-toggle>
      <mat-slide-toggle disabled>Omit signature</mat-slide-toggle>
      <div>

        <mat-form-field>
          <mat-label>Select OAuth Flow</mat-label>
          <mat-select>
            <mat-option *ngFor="let flow of flows" [value]="flow.value">
              {{ flow.viewAs }}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </div>
  </mat-toolbar>
</ng-container>
