.fill-remaining-space {
  flex: 1 1 auto;
}

.mat-icon {
  font-size: 32px;
  margin-right: 8px; /* needed to center icon due to larger font-size */
  margin-bottom: 2px; /* needed to center icon due to larger font-size */
}
