<mat-card class="mat-elevation-z4">
  <div class="logout-card-outer">
    <div *ngIf="userProfile$ | async as profile; else noProfile" class="token-status">
      <mat-icon class="margin-right-8">account_circle</mat-icon>
      <div matTooltip="{{ profile?.email }}"><b>{{ profile?.name }}</b></div>
    </div>
    <ng-template #noProfile>
<!--      <app-loading [isLoading]="true"></app-loading>-->
      <div style="color: #888888"><b>No user logged in.</b></div>
    </ng-template>

    <div>
      <button mat-stroked-button color="warn" class="margin-right-16" [disabled]="isSessionStorageEmpty"
              (click)="onClickClearStorage()"
              matTooltip="Wipe all session data from browser storage without logging you out on the authorization server.">
        clear session
      </button>
      <button mat-mini-fab color="warn" [disabled]="!!!(userProfile$ | async)" (click)="onClickLogout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
